*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body{
    background-color: #222;
    color: white;
}
.heading{
    margin-bottom: 20px;
}
.container{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(145deg, rgb(115, 115, 237), rgb(2, 2, 111));
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 30px;
    text-align: center;

}
.heading h1{
    padding: 20px 10px;
    text-align: center;

}
.search{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.search input{
    border: 0;
    outline: 0;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 30px;
}
a{
    text-decoration: none;
    color: white;
    margin-bottom: 50px;
}
a .card{
    width: 90%;
    max-width: 200px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
